.light {
  height: 100%;
  width: 100%;
  position: absolute;
}

.star1 {
  animation: twinkle 3s linear 1s infinite alternate;
}

.star2 {
  animation: twinkle 4s linear 0s infinite alternate;
}

.star3 {
  animation: twinkle 3.5s linear 0.5s infinite alternate;
}

.star4 {
  animation: twinkle 1.25s linear 1.5s infinite alternate;
}

.star5 {
  animation: twinkle 4s linear 2s infinite alternate;
}

.star6 {
  animation: twinkle 2.5s linear 1s infinite alternate;
}

.star {
  background-color: rgb(255, 233, 109);
  clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
  );
}

@keyframes twinkle {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
